<div class="footer-icons hero-icons flex pt-4 md:pt-6 space-x-8 md:space-x-24 justify-center items-center">
  <% if @icons == true %>
    <a href="/">
      <img class="h-[34px]" src="<%= relative_url '/images/icons/home.svg' %>" alt="home icon" />
    </a>
    <a href="callto:+<%= @shop.number_link %>">
      <img class="h-[34px]" src="<%= relative_url '/images/icons/phone.svg' %>" alt="phone icon" />
    </a>
    <a href="<%= @shop.map_link %>">
      <img class="h-[34px]" src="<%= relative_url '/images/icons/map-pin.svg' %>" alt="map-pin icon" />
    </a>
  <% end %>
  <a href="<%= @shop.links.facebook %>">
    <img class="h-[34px]" src="<%= relative_url '/images/icons/facebook.svg' %>" alt="facebook icon" />
  </a>
  <a href="<%= @shop.links.ig %>">
    <img class="h-[34px]" src="<%= relative_url '/images/icons/instagram.svg' %>" alt="instagram icon" />
  </a>
  <a href="<%= @links.youtube %>">
    <img class="h-[34px]" src="<%= relative_url '/images/icons/youtube.svg' %>" alt="youtube icon" />
  </a>
  <a href="<%= @shop.links.tiktok %>">
    <img class="h-[34px]" src="<%= relative_url '/images/icons/tiktok.svg' %>" alt="tiktok icon" />
  </a>
</div>
