<div class="grid grid-cols-1 md:grid-cols-4 gap-4 pb-4 justify-items-center">
  <img class="object-cover w-full md:w-72 md:h-72" src="<%= relative_url "/images/galleries/#{@shop.name}/#{@shop.name}_1.png" %>" alt="thumbnail"/>
  <img class="object-cover w-full md:w-72 md:h-72" src="<%= relative_url "/images/galleries/#{@shop.name}/#{@shop.name}_2.png" %>" alt="thumbnail"/>
  <img class="object-cover w-full md:w-72 md:h-72" src="<%= relative_url "/images/galleries/#{@shop.name}/#{@shop.name}_3.png" %>" alt="thumbnail"/>
  <img class="object-cover w-full md:w-72 md:h-72" src="<%= relative_url "/images/galleries/#{@shop.name}/#{@shop.name}_4.png" %>" alt="thumbnail"/>
  <img class="object-cover w-full md:w-72 md:h-72" src="<%= relative_url "/images/galleries/#{@shop.name}/#{@shop.name}_5.png" %>" alt="thumbnail"/>
  <img class="object-cover w-full md:w-72 md:h-72" src="<%= relative_url "/images/galleries/#{@shop.name}/#{@shop.name}_6.png" %>" alt="thumbnail"/>
  <img class="object-cover w-full md:w-72 md:h-72" src="<%= relative_url "/images/galleries/#{@shop.name}/#{@shop.name}_7.png" %>" alt="thumbnail"/>
  <img class="object-cover w-full md:w-72 md:h-72" src="<%= relative_url "/images/galleries/#{@shop.name}/#{@shop.name}_8.png" %>" alt="thumbnail"/>
</div>

<div class="pt-2 mb-8">
  <a class="text-old-gold" href="<%= @ig_link %>">@<%= @shop.handle %></a>
</div>
