<div class="grid grid-cols-1 md:grid-cols-4 gap-4 py-8">
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
</div>

<div class="py-8 mb-8">
  <a href="<%= @ig_link %>">@<%= @shop.handle %></a>
</div>
