<div class="grid grid-cols-1 md:grid-cols-4 gap-4 pb-4">
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
  <img class="w-full" src="<%= relative_url '/images/pg-gallery-sample.jpg' %>" alt="thumbnail"/>
</div>

<div class="pt-2 mb-8">
  <a class="text-old-gold" href="<%= @ig_link %>">@<%= @shop.handle %></a>
</div>
