---
layout: default
---
<div class="max-w-6xl mx-auto px-8">
  <!-- Logo -->
  <div class="flex justify-center items-center py-20">
    <%= render Shared::IrtLogo.new %>
  </div>

  <!-- Header welcome text -->
  <%= render Shared::HeaderText.new(text: site.metadata.we_are) %>

  <!-- Shop Image and Buttons CTA -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-8">
    <div class="space-y-4 mt-4">
      <img src="<%= relative_url '/images/north-cover.png' %>" alt="north cover image" />
      <%= render Shared::ShopButton.new(shop: site.metadata.north) %>
    </div>
    <div class="space-y-4 mt-4">
      <img src="<%= relative_url '/images/south-cover.png' %>" alt="south cover image" />
      <%= render Shared::ShopButton.new(shop: site.metadata.south) %>
    </div>
  </div>

  <%= render Shared::FontDisplay.new(text: "FAQs") %>
  <%= render Shared::Faq.new(metadata: site.metadata, resource: resource, faqs: site.metadata.faqs) %>
  
  <%= render Shared::Copyright.new(metadata: site.metadata, resource: resource) %>
</div>
<%= yield %>
