---
# Feel free to add content and custom Front Matter to this file.

layout: home
title: IronRite
---

<div class="max-w-6xl mx-auto px-8">
  <%= render Shared::Herobanner.new(metadata: site.metadata, resource: resource) %>
  <%= render "shop_buttons" %>
</div>

<div class="max-w-6xl mx-auto px-8 py-4">
  <img src="<%= relative_url '/images/north-cover.png' %>" alt="home banner" />
</div>

<div class="max-w-6xl mx-auto px-8">
  <h1 class="text-5xl leading-normal mb-8 pt-16">Contact</h1>
</div>

<%= render Shared::ContactInfo.new(metadata: site.metadata, resource: resource) %>
<%= render Shared::Footericons.new(metadata: site.metadata, resource: resource) %>
