---
layout: shop
city_state: Killeen, TX
shop_location: north
---

<div class="max-w-6xl mx-auto px-8">
  <div class="pb-8 pt-12">
    <%= render Shared::Shop::Icons.new(shop: site.metadata.north, links: site.metadata.links) %>
  </div>

  <%= render Shared::FontDisplay.new(text: "Photo Gallery") %>
  <%= render Shared::Shop::PhotoGallery.new(ig_link: site.metadata.links.ig_north, shop: site.metadata.north) %>
</div>

<%= render Shared::Shop::PhoneNumberBanner.new(shop: site.metadata.north) %>

<div class="max-w-6xl mx-auto px-8 py-16">
  <%= render Shared::Shop::Hours.new(shop: site.metadata.north) %>
</div>

<div class="max-w-6xl mx-auto px-8">
  <%= render Shared::Shop::ContactMap.new(metadata: site.metadata, shop: site.metadata.north) %>
</div>

<div class="max-w-6xl mx-auto px-8 py-8 md:py-16">
  <div class="border-t border-bone pb-8 pt-12">
    <%= render Shared::Shop::Icons.new(shop: site.metadata.north, links: site.metadata.links, icons: true) %>
  </div>
</div>
