---
layout: shop
---

<div class="max-w-6xl mx-auto px-8 py-4">
  <div class="pb-8 mb-8">
    <img src="<%= relative_url '/images/south-cover.png' %>" alt="home banner" />
  </div>
</div>

<div class="max-w-6xl mx-auto px-8 py-4">
  <h2 class="text-5xl leading-7 mb-8 pb-8">Photo Gallery</h2>
  <div>
    <img src="<%= relative_url '/images/ig-gallery.png' %>" alt="ig-gallery"/>
  </div>
</div>

<%= render Shared::Callshop.new(metadata: site.metadata, resource: resource, shop: site.metadata.south) %>
<%= render Shared::Shophours.new(metadata: site.metadata, resource: resource, shop: site.metadata.south) %>

<%= render Shared::ContactMap.new(metadata: site.metadata, resource: resource, shop: site.metadata.north) %>
<%= render Shared::Footericons.new(metadata: site.metadata, resource: resource, shop: site.metadata.south, icons: true) %>
