---
layout: shop
---

<div class="max-w-6xl mx-auto px-8 py-4">
  <img src="<%= relative_url '/images/south-cover.png' %>" alt="home banner" />
</div>

<%= render Shared::Callshop.new(metadata: site.metadata, resource: resource, shop: site.metadata.south) %>
<%= render Shared::Shophours.new(metadata: site.metadata, resource: resource, shop: site.metadata.south) %>

<%= render Shared::ContactMap.new(metadata: site.metadata, resource: resource, shop: site.metadata.north) %>
<%= render Shared::Footericons.new(metadata: site.metadata, resource: resource, shop: site.metadata.south, icons: true) %>
