<p class="pb-8">We always love to hear from our customers. So feel free to get in touch today to learn about what we have to offer</p>

<section class="grid grid-cols-1 md:grid-cols-2 gap-8">
  <div>
    <h3 class="text-old-gold pb-4">Killeen, North</h3>
    <div class="text-2xl md:text-3xl leading-7 md:leading-7 pb-4"><%= @metadata.north.address %></div>
    <div class="text-2xl md:text-3xl leading-7 md:leading-7 pb-8"><%= @metadata.north.street %></div>
    <div class="text-2xl md:text-3xl leading-normal md:leading-normal pb-16"><a href="callto:+<%= @metadata.north.number_link %>"><%= @metadata.north.number %></a></div>
    <a href="<%= @metadata.north.location %>" class="border w-full inline-block text-center py-4 border-old-gold">
      <%= @metadata.north.city.capitalize %>
    </a>
  </div>

  <div>
    <h3 class="text-old-gold pb-4">Georgetown, South</h3>
    <div class="text-2xl md:text-3xl leading-7 md:leading-7 pb-4"><%= @metadata.south.address %></div>
    <div class="text-2xl md:text-3xl leading-7 md:leading-7 pb-8"><%= @metadata.south.street %></div>
    <div class="text-2xl md:text-3xl leading-normal md:leading-normal pb-16"><a href="callto:+<%= @metadata.north.number_link %>"><%= @metadata.south.number %></a></div>
    <a href="<%= @metadata.south.location %>" class="border w-full inline-block text-center py-4 border-old-gold">
      <%= @metadata.south.city.capitalize %>
    </a>
  </div>
</section>
